
.red {
    color: red;
    background-color: white;
  }
  
  .bold {
    font-weight: bold;
  }
  
  .Cockpit button {
    background-color : green;
    color: white;
    padding: 8px;
    border: 1px solid #ccc;
    cursor: pointer;
  }
  
  .Cockpit button:hover {
    color: black;
    background-color: lightgreen;
  }
  .Cockpit button.Red {
    color: red;
    background-color: white;
  }
  .Cockpit button.Red:hover {
    background-color: salmon;
    color: white;
  }
  